<h1>Client Dashboard</h1>

<h2>Post a Project</h2>

<form method="POST">
    {% csrf_token %}
    <textarea name="description" placeholder="Describe your project"></textarea><br><br>
    <button type="submit">Submit</button>
</form>

{% if result %}
    <h3>💰 Estimated Price: ₹{{ result.min }} – ₹{{ result.max }}</h3>
    <p>📊 Avg: ₹{{ result.avg }}</p>
    <p>⏱️ Time: {{ result.time }}</p>
{% endif %}

<hr>

<h2>Your Projects</h2>

{% for item in projects %}
    <div style="border:2px solid black; margin:10px; padding:10px;">

        <p><b>{{ item.project.description }}</b></p>
        <p>💰 {{ item.project.min_price }} - {{ item.project.max_price }}</p>

        <h4>Bids:</h4>

        {% for b in item.bids %}
            <p>👤 {{ b.freelancer }} → ₹{{ b.amount }}</p>
        {% empty %}
            <p>No bids yet</p>
        {% endfor %}

    </div>
{% empty %}
    <p>No projects yet</p>
{% endfor %}